.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.sidenav {
    height: 100%;
    width: 16%;
    position: fixed;
    z-index: 1;
    top: relative;
    left: 0;
    background-color: lightblue;
    overflow-x: hidden;
    padding-top: 20px;
    padding: 0.5%;
    box-shadow: 1px 1px 5px grey;
}
